{{define "head"}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lafzi - Tentang Lafzi</title>
    <link href="/assets/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/jquery.1.7.js"></script>
{{end}}
{{define "badge"}}{{end}}
{{define "main"}}
<div id="header">
    <a href="/">
        <img src="/assets/img/logo-s.png" alt="Lafzi" id="logo-small" width="124" height="54" />
    </a>
    <h1 id="title">
        Tentang Lafzi
    </h1>
    <br style="clear: both" />
</div>

<p>
    <strong>Lafzi</strong> adalah aplikasi pencari lafaz pada Al-Quran. Aplikasi ini dibuat untuk memudahkan pencarian ayat dengan
    lafaz tertentu pada Al-Quran hanya dengan aksara Latin biasa berdasarkan pelafalan pembicara bahasa Indonesia, tanpa
    perlu mengetikkannya dalam aksara Arab.
</p>

<p>
    Aplikasi ini adalah hasil dari penelitian skripsi Departemen Ilmu Komputer, Institut Pertanian Bogor oleh Muhammad Abrar
    Istiadi, S.Kom dengan pembimbing Ahmad Ridha, S.Kom MS dan dilanjutkan pengembangannya oleh Billy Zaelani Malik.
</p>
{{template "footer" .}}
{{end}}
{{define "scripts"}}{{end}}