{{define "footer"}}
<div id="footer">
    <div id="links">
        <a href="http://cs.ipb.ac.id">Computer Science IPB</a>
        |
        <a href="/">Lafzi Web</a>
        |
        <a href="/">Lafzi Desktop</a>
        |
        <a href="https://play.google.com/store/apps/details?id=org.lafzi.android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">Lafzi Android</a>
        |
        <a href="/about/">Tentang Lafzi</a>
    </div>
    <div id="copyright">
        Copyright &copy {{.Start}}-{{.End}} Computer Science IPB
    </div>
</div>
{{end}}