{{define "head"}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lafzi - Hasil Pencarian</title>
    <link rel="stylesheet" type="text/css" href="/assets/hilight.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link href="/assets/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/jquery.1.7.js"></script>
    <script type="text/javascript" src="/assets/hilight.js"></script>
{{end}}
{{define "badge"}}
<div id="mobile_badge" style="position: fixed; top: 10px; right: 10px;">
    <a href='https://play.google.com/store/apps/details?id=org.lafzi.android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
        title="Baru! Lafzi versi Android" target="_blank">
        <img alt='Temukan di Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
            width="180" />
    </a>
</div>

<div class="overlay" id='copy-overlay' style="display: none;">
    <div class="modalDialog" id='copy-dialog' style="display: none;">
        <p style="color: #666;">Salin dengan menekan CTRL+C pada
            <em>keyboard</em>.</p>
        <textarea id="copy-text" readonly="readonly"></textarea>
        <input type="button" class="graybtn" value="Selesai" onclick="hideCopyDialog();" style="color: #666666; font-size: 10px; padding: 2px 5px; float: right; margin-top: 10px;" />
        <div style="clear: both"></div>
    </div>
</div>
{{end}}

{{define "main"}}
<div id="header">
    <a href="./">
        <img src="/assets/img/logo-s.png" alt="Lafzi" id="logo-small" width="124" height="54" />
    </a>

    <form action="" method="get" id="srp-search-form">
        <div id="search-form-container">
            <input type="text" name="q" id="search-box" value="{{.Result.Query}}" autocomplete="off"
            /><input type="submit" value="Cari" id="search-submit" />
        </div>

        <div id="search-options-container">
            <input type="button" class="search-option" value="Bantuan &raquo;" id="button-help" />
            <input type="button" class="search-option" value="Pengaturan &raquo;" id="button-option" title="Pengaturan tambahan" />
            <div id="search-checkboxes">
                <input type="checkbox" id="vw" name="vowel" {{if .Vowel}}checked="checked"{{end}}/>
                <label for="vw">Perhitungkan huruf vokal</label>
            </div>
        </div>
    </form>

    <br style="clear: both" />

    <div id="search-help-box" style="position: absolute; left : 180px; width: 500px; z-index: 200">
        Ketikkan potongan ayat atau lafaz dalam Al-Quran (tidak harus benar cara penulisannya), contoh:

        <ul>
            <li>alhamdulillahi rabbil-'alamin</li>
            <li>innalloha ma'a shoobiriin</li>
            <li>laa ilaaha illallaah</li>
            <li>kun fayakuun</li>
        </ul>

        Tips: Gunakan spasi untuk pemisah antar kata agar lebih akurat.
    </div>
</div>

{{if .Result.Query}}
<div id="srp-header">
    <h3>Hasil Pencarian ({{.Result.FoundDoc}} hasil)</h3>
    {{if .Result.FoundDoc}}
    <div id="hl-switch" title="Tampilkan sorotan pada bagian yang kira-kira cocok">
        <input type="checkbox" id="cx_tr" checked="checked" onchange="if(this.checked == true) showTrans(); else hideTrans();" />
        <label for="cx_tr">Tampilkan terjemahan</label>
        <input type="checkbox" id="hl1" checked="checked" onchange="if(this.checked == true) showHilight(); else hideHilight();" />
        <label for="hl1">Tampilkan sorotan</label>
    </div>
    {{end}}
    <br style="clear: both" />

    {{if .Verbose}}
    <table>
        <tr>
            <td>Query</td>
            <td>:
                {{.Result.Query}}
            </td>
        </tr>
        <tr>
            <td>Kode fonetik</td>
            <td>:
                {{.Result.PhoneticCode}}
            </td>
        </tr>
        <tr>
            <td>Jumlah trigram query</td>
            <td>:
                {{.Result.TrigramCount}}
            </td>
        </tr>
        <tr>
            <td>Ditemukan</td>
            <td>:
                {{.Result.FoundDoc}}
            </td>
        </tr>
    </table>
    {{end}}
</div>
{{end}}
{{$quran := .Quran}}
{{$translation := .Translation}}
{{$maxScore := .Result.TrigramCount}}
<div id="srb-container">
    {{range $i, $val := .Result.Docs}}
        {{if isEven $i}}
    <div class="search-result-block">
        {{else}}
    <div class="search-result-block alt">
        {{end}}
        {{$quranMeta := split $quran $translation $val.ID}}
        <div class='sura-name'>
            <div class='num'>{{inc $i}}</div>
            <span id="aya_name_{{$i}}">Surat {{$quranMeta.NamaSurat}} ({{$quranMeta.NoSurat}}) ayat {{$quranMeta.NoAyat}}</span>
        </div>
        {{$relevance := relevance $val.Score $maxScore}}
        <div class="rel-bar" title="Kecocokan {{$relevance}}%">
            <div class="relevance">{{$relevance}}%</div>
            <div class="relevance-bar">
                <div class="fill" style="width: {{$relevance}}%"></div>
            </div>
        </div>
        <div class="aya_container">
            <div class="aya_text" id="aya_res_{{$i}}">
                {{$quranMeta.Teks}}
            </div>
            <div class="aya_trans" id="aya_trans_{{$i}}">
                {{$quranMeta.Translation}}
            </div>
            <div class="aya-tools">
                <a class='sura-link graybtn' title='Buka ayat ini di Al-Quran online'
                    href='http://quran.ksu.edu.sa/index.php?l=id#aya={{$quranMeta.NoSurat}}_{{$quranMeta.NoAyat}}&m=hafs&qaree=husary&trans=id_indonesian'
                    target='_blank'><span class='icon'></span> Buka di Al-Quran</a>
                <a class='sura-link graybtn' title='Salin' href='#' onclick='showCopyDialog($i); return false;' style='margin-right: 5px;'>Salin Teks</a>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    {{end}}
</div>
{{if eq .Result.FoundDoc 0}}
    <p style="padding: 10px;">
        Tidak ada hasil. Pastikan lafaz yang dicari adalah lafaz pada Al-Quran.
    </p>
{{end}}
<!-- {{template "footer" .CopyrightDate}} -->
{{end}}

{{define "scripts"}}
<script type="text/javascript">

    var placeHolderText = "Ketikkan lafaz di sini";

    $(document).ready(function () {

        $('#search-box').focus(function () {
            if ($(this).val() == placeHolderText) {
                $(this).removeClass('empty');
                $(this).val('');
            }
        });

        $('#search-box').blur(function () {
            if ($(this).val() == '') {
                $(this).addClass('empty');
                $(this).val(placeHolderText);
            }
        });

        $('#button-option').click(function () {
            $(this).hide();
            $('#search-checkboxes').css({ display: 'inline-block' });
        });

        $('#button-help').click(function () {
            $('#search-help-box').slideToggle('fast');
        });

        $('#srp-search-form').submit(function () {
            if ($('#search-box').val() == placeHolderText || $('#search-box').val() == '')
                return false;
        });

        // mengisi dropdown pager
        // var pages = [];
        // var p;
        // var numPages = <? php echo $num_pages ?>;
        // var currPage = <? php echo $page ?>;
        // for (p = 1; p < numPages; p++) {
        //     if (p == currPage)
        //         pages.push('<option value="' + p + '" selected="selected">' + p + '</option>');
        //     else
        //         pages.push('<option value="' + p + '">' + p + '</option>');
        // }
        // $('#page-jump').html(pages.join(''));

        var srbHeight = $('#srb-container').height();
        var vpHeight = $(window).height();

        if (srbHeight < (vpHeight - 250)) {
            $('#footer').css({ position: 'absolute' });
        }

        $('#copy-overlay').click(function (e) {
            e.stopPropagation();
            hideCopyDialog();
        });
        $('#copy-dialog').click(function (e) {
            e.stopPropagation();
        });
        $('#copy-text').click(function () {
            $(this).select();
        });

    });

    function hideHilight() {
        $('.aya_text').each(function () {
            $(this).html($(this).text());
        });
    }

    function showHilight() {
    //             <? php echo $js_hl_functions ?>
    }

    function showTrans() {
        $('.aya_trans').fadeIn('fast');
    }

    function hideTrans() {
        $('.aya_trans').fadeOut('fast');
    }

    showHilight();

    function hideCopyDialog() {
        $('#copy-overlay').fadeOut('fast');
        $('#copy-dialog').fadeOut('fast');
    }

    function showCopyDialog(id) {
        var suraName = $('#aya_name_' + id).text();
        var ayat = $('#aya_res_' + id).text();
        var trans = $('#aya_trans_' + id).text();

        $('#copy-text').val(ayat + "\n\n" + trans + " [" + suraName + "]");

        $('#copy-overlay').fadeIn('fast');
        $('#copy-dialog').fadeIn('fast');

        $('#copy-text').select();
    }

</script>
{{end}}